body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: url('https://i.ibb.co/F4pqcrNC/Imagen-de-Whats-App-2025-06-11-a-las-22-06-12-311d3c01.jpg') no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Arial', sans-serif;
    text-align: center;
    overflow: hidden;
    position: relative;
}

@keyframes gradientAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.message {
    background: rgba(255, 255, 255, 0.8);
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
    font-size: 28px;
    color: #d63384;
    font-weight: bold;
    margin-bottom: 25px;
    transition: transform 0.3s ease;
    animation: bounce 1s infinite;
}

@keyframes bounce {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-15px); }
}

.message:hover {
    transform: scale(1.1);
}

.text-bubble {
    position: absolute;
    font-size: 18px;
    font-family: 'Cursive', sans-serif;
    color: #d63384;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 10px 20px;
    border-radius: 25px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    animation: floatText 8s ease-in-out forwards;
    white-space: nowrap;
}

@keyframes floatText {
    0% { opacity: 0; transform: scale(0.5) translateY(0px); }
    50% { opacity: 1; transform: scale(1.2) translateY(-50px); }
    100% { opacity: 0; transform: scale(1) translateY(-100px); }
}

@media (max-width: 768px) {
    body {
        background-size: 100% 100%;
        background-position: center top;
    }

    .message { font-size: 24px; padding: 20px; }
    .text-bubble { font-size: 16px; padding: 8px 16px; }
}