/* styles.css   */
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    font-family: Arial, sans-serif ;
    background: linear-gradient(135deg, #1f1c2c, #928dab);
    color: white;
}
.container{
    display: flex;
    align-items: center;
    background: rgba(255,255,255,0.1) ;
    padding: 10px;
    border-radius: 8px;
}
input{
    width: 200px;
    padding: 10px;
    text-align: center;
    border: none;
    border-radius: 5px;
    outline: none;
    font-size: 16px;
    margin-right: 10px;

}
button{
    background: #ff8c00;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s;
}
button:hover{
    background: #ffa531;
}
#qr{
    margin-top: 20px;
    padding: 15px;
    background: rgba(255,255,255,0.2);
    border-radius: 8px;
}