/* noticias.css */

body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: url(/img/fondo.jpg) no-repeat center center fixed;
  background-size: cover;
  color: #eee;
}

.header-noticias {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 120px;
  background-color: rgba(60, 135, 58, 0.85);
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.4);
  backdrop-filter: blur(6px);
  flex-wrap: wrap;
}

.side-icon {
  width: 200px;
  height: auto;
}

.side-icon-index {
  width: 250px;
}

.hover-img {
  width: 700px;
  transition: transform 0.3s ease;
  padding-top: 60px;
  margin-left: 30px;
}

.hover-img:hover {
  transform: scale(1.2);
}

.frase {
  color: black; 
  padding-top: 30px;
  text-align: center;
}

/* Barra de navegación con submenú */
.navbar {
  background: rgba(44, 94, 46, 0.8);
  padding: 10px 300px;
  position: sticky;
  top: 0;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center; /* Por defecto: centrado */
  transition: justify-content 0.3s ease;
}

.navbar.scrolled {
  justify-content: space-between;
}

.nav-logo {
  height: 40px;
  opacity: 0;
  width: 0;
  transition: all 0.3s ease;
}

.navbar.scrolled .nav-logo {
  opacity: 1;
  width: 400px;
}

.nav-links {
  display: flex;
  gap: 30px;
}

.menu {
  list-style: none;
  display: flex;
  gap: 30px;
  margin: 0;
  padding: 0;
}

.menu li {
  position: relative;
}

.menu a {
  color: #fff;
  text-decoration: none;
  padding: 10px;
  display: block;
}

.dropdown-menu {
  opacity: 0;
  visibility: hidden;
  transform: translateY(10px);
  transition: all 0.3s ease;
  display: none;
  position: absolute;
  top: 40px;
  left: 0;
  background: rgba(44, 94, 46, 0.8);
  list-style: none;
  margin: 0;
  padding: 0;
  z-index: 20;
}

.dropdown-menu li {
  width: 150px;
}

.dropdown-menu a {
  padding: 10px;
  border-bottom: 1px solid #555;
}

.dropdown:hover .dropdown-menu {
  display: block;
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.menu a:hover {
  background: #000000;
}

/*items*/
.libro-icon {
  width: 20px;
  height: auto;
  vertical-align: middle;
  margin-left: 5px;
}


/* Banner estático */
.banner {
  height: 400px;
  background: url('img/slider1.jpg') center/cover no-repeat;
  position: relative;
}

.banner-text {
  position: absolute;
  bottom: 30px;
  left: 50px;
  font-size: 2em;
  background: rgba(0, 0, 0, 0.5);
  padding: 10px 20px;
  border-radius: 10px;
}

/* Secciones */
section {
  max-width: 900px;
  margin: 40px auto;
  background-color: rgba(42, 42, 42, 0.6);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.6);
  backdrop-filter: blur(10px);
}

/* Pie de página */
footer {
  text-align: center;
  padding: 20px;
  background-color: rgba(44, 94, 46, 0.85);
  color: #fff;
  margin-top: 40px;
  backdrop-filter: blur(4px);
}